{% extends 'base.html' %} {% load static %}


{% block title %}Tableau de bord{% endblock title %}

{% block pagehead %}
<h1 class="h3 mb-2 text-gray-800">Latitudes</h1>
<div class="modal fade" id="addadminprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal_body"></div>
                        </div>
                    </div>
                </div>
{% endblock pagehead %}

{% block pageheadrow %}
<div class="container-fluid">
                    <!-- Page Heading -->
                    {% include "partials/_alert.html" %}
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Listes des latitudes enregistrees
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addadminprofile" id="add_latitude">
                                Ajouter
                              </button>
                              </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Degre</th>
                                            <th>Minute</th>
                                            <th>Voir</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Degre</th>
                                            <th>Minute</th>
                                            <th>Voir</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for latitude in latitudes %}
                                        <tr>
                                            <td>{{latitude.degre}}</td>
                                            <td>{{latitude.minute}}</td>
                                            <td><button type="button" name="edit_btn" data-id="" data-toggle="modal" data-target="#" class="btn btn-secondary">Voir</button></td>
                                            <td><button type="submit" data-id="{{latitude.id}}" class="btn btn-primary edit_latitude" data-toggle="modal" data-target="#addadminprofile" >Modifier</button></td>
                                            <td><button type="submit" data-id="{{latitude.id}}" class="btn btn-danger delete_latitude" data-toggle="modal" data-target="#confirmDeleteModal" >Supprimer</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% include 'partials/_confirm_delete_modal.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                    {% endblock pageheadrow %}

{% block arearow %} {% endblock arearow %}
{% block columrow %} {% endblock columrow %}
</div>
{% block js %}
    <script>
    $(function() {
        $('#add_latitude').click(function() {
            modalShow('Ajouter une nouvelle latitude', "{% url 'manage_latitude' %}", 'url');
        });
        $('.edit_latitude').click(function() {
            modalShow('Modifier cette latitude', "{% url 'manage_latitude' %}?id="+$(this).attr('data-id'), 'url' );
        });
        $('.delete_latitude').click(function() {
            var latitudeId = $(this).data('id');

            $('#confirmDeleteModal').data('latitude-id', latitudeId);
            $('#confirmDeleteModal').modal('show');

            $('#confirmDeleteBtn').click(function() {
                var latitudeId = $('#confirmDeleteModal').data('latitude-id');

                $.ajax({
                headers: {
                    'X-CSRFToken': "{{csrf_token}}"
                },
                url: "{% url 'delete_latitude' 0 %}".replace(0, latitudeId),
                type: 'DELETE',
                success: function(response) {
                    if (response.status == 'success') {
                        console.log('latitude supprime avec succes');
                    } else {
                        console.log('Echec de la suppression de la latitude');
                    }
                }
            });
             $('#confirmDeleteModal').modal('hide');
            });

        });
           
        });
    
</script>

{% endblock %}